@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  width: 100%;
  height: 100vh;

  /* 배경 그라디언트 설정 */
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, #b9b4c7, #352f44, #5c5470, #443c68);

  /* 부드러운 애니메이션 적용 */
  animation: gradientFlow 15s ease infinite;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 부드러운 그라디언트 흐름 애니메이션 */
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 다크모드 버튼 빙글 */
.rotate-icon {
  animation: rotate-animation 0.5s ease;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-color: #333333;
  --tab-text-color: rgb(91, 9, 4);
  --border-color: #dddddd;
  --button-bg: #e0e0e0;
  --button-color: #333333;
  --input-bg: #ececec;
  --input-button-text: rgb(237, 237, 237);
  --input-button-bg: rgb(42, 42, 42);
  --color-scrollbar: #b2b2b2;
}

html.dark {
  --bg-primary: #1c1e3b;
  --bg-secondary: #262842;
  --text-color: #ffffff;
  --tab-text-color: orange;
  --border-color: #444444;
  --button-bg: #3a3f6d;
  --button-color: #ffffff;
  --input-bg: #ffffff;
  --input-button-text: rgb(237, 237, 237);
  --input-button-bg: darkorange;
  --color-scrollbar: #868484;
}

.todo-app {
  width: 30%;
  height: 50%;
  background-color: var(--bg-primary);
  color: var(--text-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.todo-header {
  height: 16%;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
}
.toggle {
  cursor: pointer;
  background-color: transparent;
  transition: all 150ms ease-out;
}
.toggle:hover {
  transform: scale(1.1);
  color: var(--tab-text-color);
}

.todo-tabs {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  gap: 1rem;
}

.todo-tab {
  color: var(--tab-text-color);
  text-align: center;
  font-size: 1.4rem;
  margin: 0.3rem;
  opacity: 0.8;
}
.todo-tab:hover {
  opacity: 1;
}
.todo-tab.selected {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--tab-text-color);
  text-underline-offset: 5px;
}

.todo-body {
  padding: 0.5rem 1rem;
  margin: 0.1rem 0;
  flex: 1 1 auto;
  overflow-y: auto;
  background-color: var(--bg-secondary);
  border-top: 1px solid var(--border-color);
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  color: var(--text-color);
}
.todo-checkbox {
  width: 1.2rem;
  height: 1.2rem;
}
.todo-text {
  flex: 1 1 0%;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.todo-delete-icon {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: var(--button-bg);
  color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-out; /* 천천히!! */
}
.todo-delete-icon:hover {
  background-color: var(--input-button-bg);
  color: var(--button-bg);
  transform: rotate(15deg) scale(1.2);
}

.todo-footer {
  display: flex;
  margin: 20px;
}
.todo-input {
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  background-color: var(--input-bg);
  width: 100%;
  color: black;
  padding-left: 0.8rem;
}
.todo-input-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: var(--input-button-text);
  background-color: var(--input-button-bg);
  width: 6rem;
}
.todo-input-button:hover {
  filter: brightness(125%);
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .todo-app {
    width: 95%;
    border-radius: 8px;
    margin: 2rem auto;
    min-height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 80vh;
  }

  .todo-header {
    height: 10vh;
    border-radius: 8px 8px 0 0;
  }

  .todo-body {
    height: 80%;
  }
  .todo-footer {
    border-radius: 0 0 8px 8px;
  }
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tab-text-color);
}
